.projects-container {
  max-width: 120rem;
  overflow: hidden;
  margin: 0 auto;
}

.section-projects.blue {
  background-image: linear-gradient(to bottom, #d0ebff, #fff);
}

.section-projects.green {
  background-image: linear-gradient(to bottom, #d3f9d8, #fff);
}

.projects-container .number {
  padding: 0 1.2rem;
}

.projects-container--grid {
  flex-shrink: 0;
  margin-top: 2.4rem;
  padding: 0 1.2rem 4.8rem;
  display: grid;
  row-gap: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  width: 100%;
  height: max-content;
  transition: all 0.6s;
}

.project-types-container {
  display: flex;
  width: auto;
  transition: all 0.6s;
  margin-top: 3.2rem;
}

.project-title-descriptions {
  display: flex;
  justify-content: center;
}

.project-title-descriptions .title-description {
  font-size: 3.6rem;
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.project-title-descriptions .title-description.active {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

.project-title-descriptions .title-description.active.blue {
  background-image: linear-gradient(to right, #1c7ed6, #1864ab);
}

.project-title-descriptions .title-description.active.green {
  background-image: linear-gradient(to right, #37b24d, #2b8a3e);
}

.project-title-descriptions .title-description.blue:hover {
  color: #999;
}

.project-title-descriptions .title-description.green:hover {
  color: #999;
}

.no-projects {
  font-size: 2.6rem;
  font-weight: 600;
}

.no-projects.blue {
  color: #1c7ed6;
}

.no-projects.green {
  color: #37b24d;
}
