.about-container.blue {
  background-image: linear-gradient(to bottom, #d0ebff, #fff);
}

.about-container.green {
  background-image: linear-gradient(to bottom, #d3f9d8, #fff);
}

.section-about {
  max-width: 120rem;
  padding: 0 1.2rem;
  margin: 0 auto;
}

.about-description {
  height: 50%;
}

.number {
  font-size: 5.2rem;
  color: #ccc;
  font-weight: 700;
}

.title-description {
  font-size: 4.8rem;
  font-weight: 700;
  color: #aaa;
  margin: 2.4rem 4.8rem 0;
}

.about-description.green h3 span {
  color: #2b8a3e;
}

.about-description.blue h3 span {
  color: #1864ab;
}

.about-description p {
  font-size: 2rem;
  padding: 0 4.8rem;
  margin-top: 1.2rem;
  color: #333;
  line-height: 1.5;
}

.about-description.blue span {
  background-color: #1c7ed6;
  background-image: linear-gradient(to right, #1864ab, #1c7ed6);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

.about-description.green span {
  background-color: #37b24d;
  background-image: linear-gradient(to right, #2b8a3e, #37b24d);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

.about--this {
  margin-top: 2.4rem;
}

.flex-container {
  display: flex;
}
