.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  padding: 2.4rem 4.8rem;
  background-color: #fff;
}

body.sticky .header {
  position: fixed;
}

.header-logo {
  font-size: 2.4rem;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 48px;
  color: #333;
}

.section-link,
.section-link:visited {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
  cursor: pointer;
}

.section-link.blue:hover,
.section-link.blue:active {
  text-decoration: none;
  color: #1864ab;
}

.section-link.green:hover,
.section-link.green:active {
  text-decoration: none;
  color: #2b8a3e;
}

.nav-list--item.blue {
  text-transform: uppercase;
  transition: all 0.3s;
}

.nav-list--item.green {
  text-transform: uppercase;
  transition: all 0.3s;
}

.nav-item.blue {
  background-image: linear-gradient(to right, #1c7ed6, #1864ab);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

.nav-item.green {
  background-image: linear-gradient(to right, #37b24d, #2b8a3e);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
}

.theme-title {
  color: #999;
  transition: all 0.3s;
  cursor: pointer;
}

.theme-title:hover {
  color: #555;
}

/* Styling dropdown */
.dropdown span {
  display: block;
  padding: 0.8rem;
  cursor: pointer;
  color: #999;
  transition: all 0.3s;
  font-weight: 500;
}

.dropdown span:first-child {
  color: #1864ab;
  color: #1c7ed6;
}

.dropdown span:first-child:hover {
  background-color: #ddd;
}

.dropdown span:last-child {
  color: #2b8a3e;
  color: #37b24d;
}

.dropdown span:last-child:hover {
  background-color: #ddd;
}

.dropdown {
  position: absolute;
  border: 2px solid #ddd;
  border-top: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  top: 66px;
  width: 12rem;
  transform: translateX(-8%);
  transform: translateY(-30%);
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #fff;
}

.dropdown.true {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  transform: translateY(0%);
  transition: transform 0.3s;
}
